*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    border:2px solid black;
    display: flex;
    align-items: center;
    justify-content: inbetween;
}

#logo{
    height: 100px;
}

#user{
    height: 60px;
}
    
#header-l, #header-r{
    display: flex;
    align-items: center;
}

h1{
    font-size: 3.4rem;
    font-family: cursive;
}

#header-r > span{
    font-size: 1.8rem;
}
#nav-bar input{
    height: 38px;
    width: 210px;
    border-radius: 10px;
}

#search-log{
    height: 20px;
    position: relative;
    right: 50px;
    top: 5px
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    padding: 10px 0px;
    margin: bottom 2px;
}