*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    padding: 0px 30px;
} */

#nav-bar{
    /*outline: 3px solid black; */
    /*height: 100px; */
    background-color: aquamarine;
    margin: 0px 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 35px;  
}

#navbar input{
    height: 30px;
    width: 240;
}

#nav-bar button{
    /* height: 30px; */
    padding: 3px 10px;
    font-size: 20px;
    background: darkgoldenrod;
    box-shadow: 3px 3px black;
    
}

#main{
    outline: 3px solid red;
    height: 800px;
}

#col-left, #col-right{
    outline: 3px solid black;
    /*height: 300px; */
}

#col-left{
    flex: 2;
    margin-right: 20px; 
}

#col-right{
    flex: 1;
}

.puppy{
    outline: 3px solid red;
    height: 300px;
    display: flex;
    align-items: center;
}

.puppy-left, .puppy-right{
    outline: 2px solid purple;
}
